services:
  app:
    build: .
    image: bookmyshow_app:latest
    env_file: .env
    ports:
      - "8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql_db:3306/bookmyshow?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/bookmyshow
      SPRING_DATA_REDIS_HOST: redis_cache
    depends_on:
      - mysql
      - mongodb
      - redis

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

volumes:
  mysql_data:
  mongodb_data:
  redis_data:
